**-SNAP benefits per CB - normalized by population (% of total population or beneficiaries per 1000 residents)**

** https://data.cityofnewyork.us/Social-Services/Borough-Community-District-Report-SNAP-Population/jye8-w4d7 **


** INDEX - Borough ID __ (any separator) Community Board Number **

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os
import urllib
import sys
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
# SNAP data
# Data Last Updated October 27, 2020
# Metadata Last Updated October 27, 2020
# Date Created October 30, 2018
data = pd.read_csv('Borough_Community_District_Report_-_SNAP_Population.csv')
data.head()

        Month       Boro   CD  BC_SNAP_Recipients  BC_SNAP_Households
0  09/01/2018  MANHATTAN  M01                2245                1762
1  09/01/2018  MANHATTAN  M02                3170                2481
2  09/01/2018  MANHATTAN  M03               37948               25250
3  09/01/2018  MANHATTAN  M04               11664                8750
4  09/01/2018  MANHATTAN  M05                4236                3255

In [3]:
data.dtypes

Month                 object
Boro                  object
CD                    object
BC_SNAP_Recipients     int64
BC_SNAP_Households     int64
dtype: object

In [4]:
data.shape

(531, 5)

In [5]:
pd.to_datetime(data['Month'])

0     2018-09-01
1     2018-09-01
2     2018-09-01
3     2018-09-01
4     2018-09-01
         ...
526   2020-09-01
527   2020-09-01
528   2020-09-01
529   2020-09-01
530   2020-09-01
Name: Month, Length: 531, dtype: datetime64[ns]

In [6]:
data['Month'] = pd.to_datetime(data['Month'])

In [7]:
data['CD'] = data['CD'].astype(str)

In [8]:
data.Boro.unique()

array(['MANHATTAN', 'BROOKLYN', 'BRONX', 'QUEENS', 'STATEN ISLAND',
       'Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
      dtype=object)

In [9]:
data['Boro'] = data.Boro.str.title()

In [10]:
# Community districts:
# Manhattan has 12 M01...
# Brooklyn has 18 K01...
# Bronx has 12 B01...
# Queens has 12 Q01...
# Staten Island has 3 S01...
data.CD.unique()

array(['M01', 'M02', 'M03', 'M04', 'M05', 'M06', 'M07', 'M08', 'M09',
       'M10', 'M11', 'M12', 'K01', 'K02', 'K03', 'K04', 'K05', 'K06',
       'K07', 'K08', 'K09', 'K10', 'K11', 'K12', 'K13', 'K14', 'K15',
       'K16', 'K17', 'K18', 'B01', 'B02', 'B03', 'B04', 'B05', 'B06',
       'B07', 'B08', 'B09', 'B10', 'B11', 'B12', 'Q01', 'Q02', 'Q03',
       'Q04', 'Q05', 'Q06', 'Q07', 'Q08', 'Q09', 'Q10', 'Q11', 'Q12',
       'Q13', 'Q14', 'S01', 'S02', 'S03'], dtype=object)

In [11]:
data['CD'] = data["CD"].str.replace('M', 'MN ')
data['CD'] = data["CD"].str.replace('B', 'BX ') # order matters.. need to check for better solution
data['CD'] = data["CD"].str.replace('K', 'BK ')
data['CD'] = data["CD"].str.replace('Q', 'QN ')
data['CD'] = data["CD"].str.replace('S', 'SI ')
data

         Month           Boro     CD  BC_SNAP_Recipients  BC_SNAP_Households
0   2018-09-01      Manhattan  MN 01                2245                1762
1   2018-09-01      Manhattan  MN 02                3170                2481
2   2018-09-01      Manhattan  MN 03               37948               25250
3   2018-09-01      Manhattan  MN 04               11664                8750
4   2018-09-01      Manhattan  MN 05                4236                3255
..         ...            ...    ...                 ...                 ...
526 2020-09-01         Queens  QN 13               22301               14059
527 2020-09-01         Queens  QN 14               30889               16829
528 2020-09-01  Staten Island  SI 01               39400               20918
529 2020-09-01  Staten Island  SI 02               15810                9214
530 2020-09-01  Staten Island  SI 03               11396                7091

[531 rows x 5 columns]

In [12]:
data.CD.unique()

array(['MN 01', 'MN 02', 'MN 03', 'MN 04', 'MN 05', 'MN 06', 'MN 07',
       'MN 08', 'MN 09', 'MN 10', 'MN 11', 'MN 12', 'BK 01', 'BK 02',
       'BK 03', 'BK 04', 'BK 05', 'BK 06', 'BK 07', 'BK 08', 'BK 09',
       'BK 10', 'BK 11', 'BK 12', 'BK 13', 'BK 14', 'BK 15', 'BK 16',
       'BK 17', 'BK 18', 'BX 01', 'BX 02', 'BX 03', 'BX 04', 'BX 05',
       'BX 06', 'BX 07', 'BX 08', 'BX 09', 'BX 10', 'BX 11', 'BX 12',
       'QN 01', 'QN 02', 'QN 03', 'QN 04', 'QN 05', 'QN 06', 'QN 07',
       'QN 08', 'QN 09', 'QN 10', 'QN 11', 'QN 12', 'QN 13', 'QN 14',
       'SI 01', 'SI 02', 'SI 03'], dtype=object)

In [13]:
Borough_ID = {
    'manhattan': 1,
    'bronx': 2,
    'brooklyn': 3,
    'queens': 4,
    'staten island': 5
}

data['Borough_ID'] = data['Boro'].str.lower().map(Borough_ID)

In [14]:
data

,Month,Boro,CD,BC_SNAP_Recipients,BC_SNAP_Households,Borough_ID
0,2018-09-01,Manhattan,MN 01,2245,1762,1
1,2018-09-01,Manhattan,MN 02,3170,2481,1
2,2018-09-01,Manhattan,MN 03,37948,25250,1
3,2018-09-01,Manhattan,MN 04,11664,8750,1
4,2018-09-01,Manhattan,MN 05,4236,3255,1
...,...,...,...,...,...,...
526,2020-09-01,Queens,QN 13,22301,14059,4
527,2020-09-01,Queens,QN 14,30889,16829,4
528,2020-09-01,Staten Island,SI 01,39400,20918,5
529,2020-09-01,Staten Island,SI 02,15810,9214,5
530,2020-09-01,Staten Island,SI 03,11396,7091,5

In [15]:
data['index'] = data[['Borough_ID', 'CD']].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [16]:
data

,Month,Boro,CD,BC_SNAP_Recipients,BC_SNAP_Households,Borough_ID,index
0,2018-09-01,Manhattan,MN 01,2245,1762,1,1_MN 01
1,2018-09-01,Manhattan,MN 02,3170,2481,1,1_MN 02
2,2018-09-01,Manhattan,MN 03,37948,25250,1,1_MN 03
3,2018-09-01,Manhattan,MN 04,11664,8750,1,1_MN 04
4,2018-09-01,Manhattan,MN 05,4236,3255,1,1_MN 05
...,...,...,...,...,...,...,...
526,2020-09-01,Queens,QN 13,22301,14059,4,4_QN 13
527,2020-09-01,Queens,QN 14,30889,16829,4,4_QN 14
528,2020-09-01,Staten Island,SI 01,39400,20918,5,5_SI 01
529,2020-09-01,Staten Island,SI 02,15810,9214,5,5_SI 02
530,2020-09-01,Staten Island,SI 03,11396,7091,5,5_SI 03

In [17]:
# SNAP benefits per CB - normalized by population (% of total population or beneficiaries per 1000 residents)

In [18]:
data2018 = data[data.Month.dt.year == 2018] # 118 rows
data2019 = data[data.Month.dt.year == 2019] # 236 rows
data2020 = data[data.Month.dt.year == 2020] # 177 rows

In [19]:
data2018

,Month,Boro,CD,BC_SNAP_Recipients,BC_SNAP_Households,Borough_ID,index
0,2018-09-01,Manhattan,MN 01,2245,1762,1,1_MN 01
1,2018-09-01,Manhattan,MN 02,3170,2481,1,1_MN 02
2,2018-09-01,Manhattan,MN 03,37948,25250,1,1_MN 03
3,2018-09-01,Manhattan,MN 04,11664,8750,1,1_MN 04
4,2018-09-01,Manhattan,MN 05,4236,3255,1,1_MN 05
...,...,...,...,...,...,...,...
113,2018-12-01,Queens,QN 13,18536,11837,4,4_QN 13
114,2018-12-01,Queens,QN 14,28537,15315,4,4_QN 14
115,2018-12-01,Staten Island,SI 01,36386,19289,5,5_SI 01
116,2018-12-01,Staten Island,SI 02,13799,8226,5,5_SI 02
117,2018-12-01,Staten Island,SI 03,9771,6233,5,5_SI 03

In [20]:
data2019

,Month,Boro,CD,BC_SNAP_Recipients,BC_SNAP_Households,Borough_ID,index
118,2019-03-01,Bronx,BX 01,43127,23086,2,2_BX 01
119,2019-03-01,Bronx,BX 02,21203,11531,2,2_BX 02
120,2019-03-01,Bronx,BX 03,40628,21829,2,2_BX 03
121,2019-03-01,Bronx,BX 04,55067,30205,2,2_BX 04
122,2019-03-01,Bronx,BX 05,53602,29021,2,2_BX 05
...,...,...,...,...,...,...,...
349,2019-12-01,Queens,QN 13,17978,11703,4,4_QN 13
350,2019-12-01,Queens,QN 14,27394,14948,4,4_QN 14
351,2019-12-01,Staten Island,SI 01,34626,18479,5,5_SI 01
352,2019-12-01,Staten Island,SI 02,13737,8189,5,5_SI 02
353,2019-12-01,Staten Island,SI 03,9560,6142,5,5_SI 03

In [21]:
data2020

,Month,Boro,CD,BC_SNAP_Recipients,BC_SNAP_Households,Borough_ID,index
354,2020-03-01,Bronx,BX 01,41545,22736,2,2_BX 01
355,2020-03-01,Bronx,BX 02,20279,11294,2,2_BX 02
356,2020-03-01,Bronx,BX 03,39250,21694,2,2_BX 03
357,2020-03-01,Bronx,BX 04,50360,28414,2,2_BX 04
358,2020-03-01,Bronx,BX 05,49525,27397,2,2_BX 05
...,...,...,...,...,...,...,...
526,2020-09-01,Queens,QN 13,22301,14059,4,4_QN 13
527,2020-09-01,Queens,QN 14,30889,16829,4,4_QN 14
528,2020-09-01,Staten Island,SI 01,39400,20918,5,5_SI 01
529,2020-09-01,Staten Island,SI 02,15810,9214,5,5_SI 02
530,2020-09-01,Staten Island,SI 03,11396,7091,5,5_SI 03

In [22]:
communitypop = pd.read_csv('New_York_City_Population_By_Community_Districts.csv')
communitypop

,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
0,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497
1,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246
2,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762
3,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441
4,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200
5,Bronx,6,"East Tremont, Belmont",114137,65016,68061,75688,83268
6,Bronx,7,"Bedford Park, Norwood, Fordham",113764,116827,128588,141411,139286
7,Bronx,8,"Riverdale, Kingsbridge, Marble Hill",103543,98275,97030,101332,101731
8,Bronx,9,"Soundview, Parkchester",166442,167627,155970,167859,172298
9,Bronx,10,"Throgs Nk., Co-op City, Pelham Bay",84948,106516,108093,115948,120392
10,Bronx,11,"Pelham Pkwy, Morris Park, Laconia",105980,99080,97842,110706,113232
11,Bronx,12,"Wakefield, Williamsbridge",135010,128226,129620,149077,152344
12,Brooklyn,1,"Williamsburg, Greenpoint",179390,142942,155972,160338,173083
13,Brooklyn,2,"Brooklyn Heights, Fort Greene",110221,92732,94534,98620,99617
14,Brooklyn,3,Bedford Stuyvesant,203380,133379,138696,143867,152985
15,Brooklyn,4,Bushwick,137902,92497,102572,104358,112634
16,Brooklyn,5,"East New York, Starrett City",170791,154931,161350,173198,182896
17,Brooklyn,6,"Park Slope, Carroll Gardens",138933,110228,102724,104054,104709
18,Brooklyn,7,"Sunset Park, Windsor Terrace",111607,98567,102553,120063,126230
19,Brooklyn,8,Crown Heights North,121821,88796,96400,96076,96317
20,Brooklyn,9,"Crown Heights South, Wingate",101047,96669,110715,104014,98429
21,Brooklyn,10,"Bay Ridge, Dyker Heights",129822,118187,110612,122542,124491
22,Brooklyn,11,"Bensonhurst, Bath Beach",170119,155072,149994,172129,181981
23,Brooklyn,12,"Borough Park, Ocean Parkway",166301,155899,160018,185046,191382
24,Brooklyn,13,"Coney Island, Brighton Beach",97750,100030,102596,106120,104278
25,Brooklyn,14,"Flatbush, Midwood",137041,143859,159825,168806,160664
26,Brooklyn,15,"Sheepshead Bay, Gerritsen Beach",164815,149572,143477,160319,159650
27,Brooklyn,16,"Brownsville, Ocean Hill",122589,73801,84923,85343,86468
28,Brooklyn,17,"East Flatbush, Rugby, Farragut",149496,154596,161261,165753,155252
29,Brooklyn,18,"Canarsie, Flatlands",188643,169092,162428,194653,193543
30,Manhattan,1,"Battery Park City, Tribeca",7706,15918,25366,34420,60978
31,Manhattan,2,"Greenwich Village, Soho",84337,87069,94105,93119,90016
32,Manhattan,3,"Lower East Side, Chinatown",181845,154848,161617,164407,163277
33,Manhattan,4,"Chelsea, Clinton",83601,82164,84431,87479,103245
34,Manhattan,5,Midtown Business District,31076,39544,43507,44028,51673
35,Manhattan,6,"Stuyvesant Town, Turtle Bay",122465,127554,133748,136152,142745
36,Manhattan,7,"West Side, Upper West Side",212422,206669,210993,207699,209084
37,Manhattan,8,Upper East Side,200851,204305,210880,217063,219920
38,Manhattan,9,"Manhattanville, Hamilton Heights",113606,103038,106978,111724,110193
39,Manhattan,10,Central Harlem,159267,105641,99519,107109,115723
40,Manhattan,11,East Harlem,154662,114569,110508,117743,120511
41,Manhattan,12,"Washington Heights, Inwood",180561,179941,198192,208414,190020
42,Queens,1,"Astoria, Long Island City",185925,185198,188549,211220,191105
43,Queens,2,"Sunnyside, Woodside",95073,88927,94845,109920,113200
44,Queens,3,"Jackson Heights, North Corona",123635,122090,128924,169083,171576
45,Queens,4,"Elmhurst, South Corona",108233,118430,137023,167005,172598
46,Queens,5,"Ridgewood, Glendale, Maspeth",161022,150142,149126,165911,169190
47,Queens,6,"Forest Hills, Rego Park",120429,112245,106996,115967,113257
48,Queens,7,"Flushing, Bay Terrace",207589,204785,220508,242952,247354
49,Queens,8,"Fresh Meadows, Briarwood",142468,125312,132101,146594,151107
50,Queens,9,"Woodhaven, Richmond Hill",110367,109505,112151,141608,143317
51,Queens,10,"Ozone Park, Howard Beach",113857,105651,107768,127274,122396
52,Queens,11,"Bayside, Douglaston, Little Neck",127883,110963,108056,116404,116431
53,Queens,12,"Jamaica, St. Albans, Hollis",206639,189383,201293,223602,225919
54,Queens,13,"Queens Village, Rosedale",184647,173178,177535,196284,188593
55,Queens,14,"The Rockaways, Broad Channel",98228,100592,100596,106686,114978
56,Staten Island,1,"Stapleton, Port Richmond",135875,138489,137806,162609,175756
57,Staten Island,2,"New Springville, South Beach",85985,105128,113944,127071,132003
58,Staten Island,3,"Tottenville, Woodrow, Great Kills",72815,108249,126956,152908,160209

In [23]:
communitypop = communitypop[['Borough', 'CD Number', '2010 Population']]

In [24]:
communitypop

          Borough  CD Number  2010 Population
0           Bronx          1            91497
1           Bronx          2            52246
2           Bronx          3            79762
3           Bronx          4           146441
4           Bronx          5           128200
5           Bronx          6            83268
6           Bronx          7           139286
7           Bronx          8           101731
8           Bronx          9           172298
9           Bronx         10           120392
10          Bronx         11           113232
11          Bronx         12           152344
12       Brooklyn          1           173083
13       Brooklyn          2            99617
14       Brooklyn          3           152985
15       Brooklyn          4           112634
16       Brooklyn          5           182896
17       Brooklyn          6           104709
18       Brooklyn          7           126230
19       Brooklyn          8            96317
20       Brooklyn          9            98429
21       Brooklyn         10           124491
22       Brooklyn         11           181981
23       Brooklyn         12           191382
24       Brooklyn         13           104278
25       Brooklyn         14           160664
26       Brooklyn         15           159650
27       Brooklyn         16            86468
28       Brooklyn         17           155252
29       Brooklyn         18           193543
30      Manhattan          1            60978
31      Manhattan          2            90016
32      Manhattan          3           163277
33      Manhattan          4           103245
34      Manhattan          5            51673
35      Manhattan          6           142745
36      Manhattan          7           209084
37      Manhattan          8           219920
38      Manhattan          9           110193
39      Manhattan         10           115723
40      Manhattan         11           120511
41      Manhattan         12           190020
42         Queens          1           191105
43         Queens          2           113200
44         Queens          3           171576
45         Queens          4           172598
46         Queens          5           169190
47         Queens          6           113257
48         Queens          7           247354
49         Queens          8           151107
50         Queens          9           143317
51         Queens         10           122396
52         Queens         11           116431
53         Queens         12           225919
54         Queens         13           188593
55         Queens         14           114978
56  Staten Island          1           175756
57  Staten Island          2           132003
58  Staten Island          3           160209

In [25]:
data2018[['Boro', 'CD', 'Borough_ID', 'index', 'BC_SNAP_Recipients', 'BC_SNAP_Households']] \
                .groupby(by=['Boro', 'CD', 'Borough_ID', 'index']).sum()

                                        BC_SNAP_Recipients  BC_SNAP_Households
Boro          CD    Borough_ID index
Bronx         BX 01 2          2_BX 01               89216               47287
              BX 02 2          2_BX 02               44528               24013
              BX 03 2          2_BX 03               82884               44193
              BX 04 2          2_BX 04              115204               62630
              BX 05 2          2_BX 05              112023               60231
              BX 06 2          2_BX 06               77925               41358
              BX 07 2          2_BX 07               92794               51528
              BX 08 2          2_BX 08               32575               19374
              BX 09 2          2_BX 09              105560               57194
              BX 10 2          2_BX 10               35048               21181
              BX 11 2          2_BX 11               47557               27411
              BX 12 2          2_BX 12               74121               40290
Brooklyn      BK 01 3          3_BK 01              103326               40463
              BK 02 3          3_BK 02               26896               17876
              BK 03 3          3_BK 03               89022               47418
              BK 04 3          3_BK 04               50338               30011
              BK 05 3          3_BK 05              125396               69984
              BK 06 3          3_BK 06               19725               12883
              BK 07 3          3_BK 07               44732               25656
              BK 08 3          3_BK 08               41556               26121
              BK 09 3          3_BK 09               41573               24792
              BK 10 3          3_BK 10               33972               19454
              BK 11 3          3_BK 11               73315               42452
              BK 12 3          3_BK 12              123171               40186
              BK 13 3          3_BK 13               64530               42098
              BK 14 3          3_BK 14               63811               36670
              BK 15 3          3_BK 15               56453               34412
              BK 16 3          3_BK 16               73037               40208
              BK 17 3          3_BK 17               60776               37597
              BK 18 3          3_BK 18               55536               32959
Manhattan     MN 01 1          1_MN 01                4336                3442
              MN 02 1          1_MN 02                6107                4814
              MN 03 1          1_MN 03               74016               49761
              MN 04 1          1_MN 04               23193               17421
              MN 05 1          1_MN 05                9943                7084
              MN 06 1          1_MN 06                9892                8514
              MN 07 1          1_MN 07               32566               24422
              MN 08 1          1_MN 08               11116                8814
              MN 09 1          1_MN 09               44881               29082
              MN 10 1          1_MN 10               67169               42157
              MN 11 1          1_MN 11               84957               52479
              MN 12 1          1_MN 12               94729               63683
Queens        QN 01 4          4_QN 01               44724               26567
              QN 02 4          4_QN 02               21531               13385
              QN 03 4          4_QN 03               50776               28852
              QN 04 4          4_QN 04               52785               30250
              QN 05 4          4_QN 05               36659               21106
              QN 06 4          4_QN 06               20094               13868
              QN 07 4          4_QN 07               51866               33857
              QN 08 4          4_QN 08               35007               20851
              QN 09 4          4_QN 09               44101               24930
              QN 10 4          4_QN 10               31885               18878
              QN 11 4          4_QN 11               12800                8645
              QN 12 4          4_QN 12               87937               52382
              QN 13 4          4_QN 13               37949               24087
              QN 14 4          4_QN 14               57749               30986
Staten Island SI 01 5          5_SI 01               74505               39170
              SI 02 5          5_SI 02               27913               16551
              SI 03 5          5_SI 03               19654               12462

In [26]:
group2018 = data2018[['Boro', 'CD', 'Borough_ID', 'index', 'BC_SNAP_Recipients', 'BC_SNAP_Households']] \
                .groupby(by=['Boro', 'CD', 'Borough_ID', 'index'], as_index=False).sum()

In [27]:
len(group2018)

59

In [28]:
len(communitypop)

59

In [29]:
group2018['total_pop'] = communitypop['2010 Population'].values

In [30]:
group2018

,Boro,CD,Borough_ID,index,BC_SNAP_Recipients,BC_SNAP_Households,total_pop
0,Bronx,BX 01,2,2_BX 01,89216,47287,91497
1,Bronx,BX 02,2,2_BX 02,44528,24013,52246
2,Bronx,BX 03,2,2_BX 03,82884,44193,79762
3,Bronx,BX 04,2,2_BX 04,115204,62630,146441
4,Bronx,BX 05,2,2_BX 05,112023,60231,128200
5,Bronx,BX 06,2,2_BX 06,77925,41358,83268
6,Bronx,BX 07,2,2_BX 07,92794,51528,139286
7,Bronx,BX 08,2,2_BX 08,32575,19374,101731
8,Bronx,BX 09,2,2_BX 09,105560,57194,172298
9,Bronx,BX 10,2,2_BX 10,35048,21181,120392
10,Bronx,BX 11,2,2_BX 11,47557,27411,113232
11,Bronx,BX 12,2,2_BX 12,74121,40290,152344
12,Brooklyn,BK 01,3,3_BK 01,103326,40463,173083
13,Brooklyn,BK 02,3,3_BK 02,26896,17876,99617
14,Brooklyn,BK 03,3,3_BK 03,89022,47418,152985
15,Brooklyn,BK 04,3,3_BK 04,50338,30011,112634
16,Brooklyn,BK 05,3,3_BK 05,125396,69984,182896
17,Brooklyn,BK 06,3,3_BK 06,19725,12883,104709
18,Brooklyn,BK 07,3,3_BK 07,44732,25656,126230
19,Brooklyn,BK 08,3,3_BK 08,41556,26121,96317
20,Brooklyn,BK 09,3,3_BK 09,41573,24792,98429
21,Brooklyn,BK 10,3,3_BK 10,33972,19454,124491
22,Brooklyn,BK 11,3,3_BK 11,73315,42452,181981
23,Brooklyn,BK 12,3,3_BK 12,123171,40186,191382
24,Brooklyn,BK 13,3,3_BK 13,64530,42098,104278
25,Brooklyn,BK 14,3,3_BK 14,63811,36670,160664
26,Brooklyn,BK 15,3,3_BK 15,56453,34412,159650
27,Brooklyn,BK 16,3,3_BK 16,73037,40208,86468
28,Brooklyn,BK 17,3,3_BK 17,60776,37597,155252
29,Brooklyn,BK 18,3,3_BK 18,55536,32959,193543
30,Manhattan,MN 01,1,1_MN 01,4336,3442,60978
31,Manhattan,MN 02,1,1_MN 02,6107,4814,90016
32,Manhattan,MN 03,1,1_MN 03,74016,49761,163277
33,Manhattan,MN 04,1,1_MN 04,23193,17421,103245
34,Manhattan,MN 05,1,1_MN 05,9943,7084,51673
35,Manhattan,MN 06,1,1_MN 06,9892,8514,142745
36,Manhattan,MN 07,1,1_MN 07,32566,24422,209084
37,Manhattan,MN 08,1,1_MN 08,11116,8814,219920
38,Manhattan,MN 09,1,1_MN 09,44881,29082,110193
39,Manhattan,MN 10,1,1_MN 10,67169,42157,115723
40,Manhattan,MN 11,1,1_MN 11,84957,52479,120511
41,Manhattan,MN 12,1,1_MN 12,94729,63683,190020
42,Queens,QN 01,4,4_QN 01,44724,26567,191105
43,Queens,QN 02,4,4_QN 02,21531,13385,113200
44,Queens,QN 03,4,4_QN 03,50776,28852,171576
45,Queens,QN 04,4,4_QN 04,52785,30250,172598
46,Queens,QN 05,4,4_QN 05,36659,21106,169190
47,Queens,QN 06,4,4_QN 06,20094,13868,113257
48,Queens,QN 07,4,4_QN 07,51866,33857,247354
49,Queens,QN 08,4,4_QN 08,35007,20851,151107
50,Queens,QN 09,4,4_QN 09,44101,24930,143317
51,Queens,QN 10,4,4_QN 10,31885,18878,122396
52,Queens,QN 11,4,4_QN 11,12800,8645,116431
53,Queens,QN 12,4,4_QN 12,87937,52382,225919
54,Queens,QN 13,4,4_QN 13,37949,24087,188593
55,Queens,QN 14,4,4_QN 14,57749,30986,114978
56,Staten Island,SI 01,5,5_SI 01,74505,39170,175756
57,Staten Island,SI 02,5,5_SI 02,27913,16551,132003
58,Staten Island,SI 03,5,5_SI 03,19654,12462,160209

In [31]:
# benefi_by_Boro_Community_per_1000
group2018['yearly_ind_benefi_per_1000']=(group2018['BC_SNAP_Recipients']/group2018['total_pop'])*1000
group2018['yearly_household_benefi_per_1000']=(group2018['BC_SNAP_Households']/group2018['total_pop'])*1000

In [32]:
group2018

,Boro,CD,Borough_ID,index,BC_SNAP_Recipients,BC_SNAP_Households,total_pop,yearly_ind_benefi_per_1000,yearly_household_benefi_per_1000
0,Bronx,BX 01,2,2_BX 01,89216,47287,91497,975.070221,516.814759
1,Bronx,BX 02,2,2_BX 02,44528,24013,52246,852.275772,459.614133
2,Bronx,BX 03,2,2_BX 03,82884,44193,79762,1039.141446,554.060831
3,Bronx,BX 04,2,2_BX 04,115204,62630,146441,786.692251,427.680772
4,Bronx,BX 05,2,2_BX 05,112023,60231,128200,873.814353,469.820593
5,Bronx,BX 06,2,2_BX 06,77925,41358,83268,935.833694,496.685401
6,Bronx,BX 07,2,2_BX 07,92794,51528,139286,666.211967,369.943857
7,Bronx,BX 08,2,2_BX 08,32575,19374,101731,320.207213,190.443424
8,Bronx,BX 09,2,2_BX 09,105560,57194,172298,612.659462,331.948136
9,Bronx,BX 10,2,2_BX 10,35048,21181,120392,291.115689,175.933617
10,Bronx,BX 11,2,2_BX 11,47557,27411,113232,419.996114,242.078211
11,Bronx,BX 12,2,2_BX 12,74121,40290,152344,486.537048,264.467258
12,Brooklyn,BK 01,3,3_BK 01,103326,40463,173083,596.973706,233.778014
13,Brooklyn,BK 02,3,3_BK 02,26896,17876,99617,269.994077,179.447283
14,Brooklyn,BK 03,3,3_BK 03,89022,47418,152985,581.900186,309.951956
15,Brooklyn,BK 04,3,3_BK 04,50338,30011,112634,446.916562,266.447076
16,Brooklyn,BK 05,3,3_BK 05,125396,69984,182896,685.613682,382.643688
17,Brooklyn,BK 06,3,3_BK 06,19725,12883,104709,188.379222,123.036224
18,Brooklyn,BK 07,3,3_BK 07,44732,25656,126230,354.369009,203.248039
19,Brooklyn,BK 08,3,3_BK 08,41556,26121,96317,431.450315,271.198231
20,Brooklyn,BK 09,3,3_BK 09,41573,24792,98429,422.365360,251.876987
21,Brooklyn,BK 10,3,3_BK 10,33972,19454,124491,272.887197,156.268325
22,Brooklyn,BK 11,3,3_BK 11,73315,42452,181981,402.871728,233.277100
23,Brooklyn,BK 12,3,3_BK 12,123171,40186,191382,643.587171,209.977950
24,Brooklyn,BK 13,3,3_BK 13,64530,42098,104278,618.826598,403.709315
25,Brooklyn,BK 14,3,3_BK 14,63811,36670,160664,397.170492,228.240303
26,Brooklyn,BK 15,3,3_BK 15,56453,34412,159650,353.604760,215.546508
27,Brooklyn,BK 16,3,3_BK 16,73037,40208,86468,844.670861,465.004395
28,Brooklyn,BK 17,3,3_BK 17,60776,37597,155252,391.466777,242.167573
29,Brooklyn,BK 18,3,3_BK 18,55536,32959,193543,286.943987,170.292906
30,Manhattan,MN 01,1,1_MN 01,4336,3442,60978,71.107613,56.446587
31,Manhattan,MN 02,1,1_MN 02,6107,4814,90016,67.843494,53.479381
32,Manhattan,MN 03,1,1_MN 03,74016,49761,163277,453.315531,304.764296
33,Manhattan,MN 04,1,1_MN 04,23193,17421,103245,224.640418,168.734563
34,Manhattan,MN 05,1,1_MN 05,9943,7084,51673,192.421574,137.092872
35,Manhattan,MN 06,1,1_MN 06,9892,8514,142745,69.298399,59.644821
36,Manhattan,MN 07,1,1_MN 07,32566,24422,209084,155.755581,116.804729
37,Manhattan,MN 08,1,1_MN 08,11116,8814,219920,50.545653,40.078210
38,Manhattan,MN 09,1,1_MN 09,44881,29082,110193,407.294474,263.918761
39,Manhattan,MN 10,1,1_MN 10,67169,42157,115723,580.429128,364.292319
40,Manhattan,MN 11,1,1_MN 11,84957,52479,120511,704.972990,435.470621
41,Manhattan,MN 12,1,1_MN 12,94729,63683,190020,498.521208,335.138406
42,Queens,QN 01,4,4_QN 01,44724,26567,191105,234.028414,139.017817
43,Queens,QN 02,4,4_QN 02,21531,13385,113200,190.203180,118.242049
44,Queens,QN 03,4,4_QN 03,50776,28852,171576,295.938826,168.158717
45,Queens,QN 04,4,4_QN 04,52785,30250,172598,305.826255,175.262749
46,Queens,QN 05,4,4_QN 05,36659,21106,169190,216.673562,124.747325
47,Queens,QN 06,4,4_QN 06,20094,13868,113257,177.419497,122.447178
48,Queens,QN 07,4,4_QN 07,51866,33857,247354,209.683288,136.876703
49,Queens,QN 08,4,4_QN 08,35007,20851,151107,231.670273,137.988313
50,Queens,QN 09,4,4_QN 09,44101,24930,143317,307.716461,173.950055
51,Queens,QN 10,4,4_QN 10,31885,18878,122396,260.506879,154.237067
52,Queens,QN 11,4,4_QN 11,12800,8645,116431,109.936357,74.249985
53,Queens,QN 12,4,4_QN 12,87937,52382,225919,389.241277,231.861862
54,Queens,QN 13,4,4_QN 13,37949,24087,188593,201.221678,127.719481
55,Queens,QN 14,4,4_QN 14,57749,30986,114978,502.261302,269.495034
56,Staten Island,SI 01,5,5_SI 01,74505,39170,175756,423.911559,222.865791
57,Staten Island,SI 02,5,5_SI 02,27913,16551,132003,211.457315,125.383514
58,Staten Island,SI 03,5,5_SI 03,19654,12462,160209,122.677253,77.785892

In [33]:
group2019 = data2019[['Boro', 'CD', 'Borough_ID', 'index', 'BC_SNAP_Recipients', 'BC_SNAP_Households']] \
                .groupby(by=['Boro', 'CD', 'Borough_ID', 'index'], as_index=False).sum()

In [34]:
group2019['total_pop'] = communitypop['2010 Population'].values

In [35]:
group2019

,Boro,CD,Borough_ID,index,BC_SNAP_Recipients,BC_SNAP_Households,total_pop
0,Bronx,BX 01,2,2_BX 01,169162,91364,91497
1,Bronx,BX 02,2,2_BX 02,82825,45534,52246
2,Bronx,BX 03,2,2_BX 03,158966,86488,79762
3,Bronx,BX 04,2,2_BX 04,211942,117646,146441
4,Bronx,BX 05,2,2_BX 05,205934,112569,128200
5,Bronx,BX 06,2,2_BX 06,148748,80523,83268
6,Bronx,BX 07,2,2_BX 07,172237,98522,139286
7,Bronx,BX 08,2,2_BX 08,61402,36905,101731
8,Bronx,BX 09,2,2_BX 09,198497,109490,172298
9,Bronx,BX 10,2,2_BX 10,67807,41607,120392
10,Bronx,BX 11,2,2_BX 11,90218,52843,113232
11,Bronx,BX 12,2,2_BX 12,141983,77918,152344
12,Brooklyn,BK 01,3,3_BK 01,198928,78801,173083
13,Brooklyn,BK 02,3,3_BK 02,51146,34533,99617
14,Brooklyn,BK 03,3,3_BK 03,168037,90541,152985
15,Brooklyn,BK 04,3,3_BK 04,90897,55668,112634
16,Brooklyn,BK 05,3,3_BK 05,240537,137418,182896
17,Brooklyn,BK 06,3,3_BK 06,39105,26106,104709
18,Brooklyn,BK 07,3,3_BK 07,80083,47405,126230
19,Brooklyn,BK 08,3,3_BK 08,76485,49415,96317
20,Brooklyn,BK 09,3,3_BK 09,77845,47630,98429
21,Brooklyn,BK 10,3,3_BK 10,64473,38206,124491
22,Brooklyn,BK 11,3,3_BK 11,134857,80453,181981
23,Brooklyn,BK 12,3,3_BK 12,233823,76001,191382
24,Brooklyn,BK 13,3,3_BK 13,122299,81762,104278
25,Brooklyn,BK 14,3,3_BK 14,115530,68392,160664
26,Brooklyn,BK 15,3,3_BK 15,105948,66378,159650
27,Brooklyn,BK 16,3,3_BK 16,142179,79895,86468
28,Brooklyn,BK 17,3,3_BK 17,114015,72854,155252
29,Brooklyn,BK 18,3,3_BK 18,107299,64799,193543
30,Manhattan,MN 01,1,1_MN 01,8721,7065,60978
31,Manhattan,MN 02,1,1_MN 02,11020,8949,90016
32,Manhattan,MN 03,1,1_MN 03,141354,96903,163277
33,Manhattan,MN 04,1,1_MN 04,45639,34243,103245
34,Manhattan,MN 05,1,1_MN 05,22154,15140,51673
35,Manhattan,MN 06,1,1_MN 06,19925,17237,142745
36,Manhattan,MN 07,1,1_MN 07,62641,47100,209084
37,Manhattan,MN 08,1,1_MN 08,21141,16876,219920
38,Manhattan,MN 09,1,1_MN 09,83311,54882,110193
39,Manhattan,MN 10,1,1_MN 10,122232,78473,115723
40,Manhattan,MN 11,1,1_MN 11,160840,101231,120511
41,Manhattan,MN 12,1,1_MN 12,172262,118344,190020
42,Queens,QN 01,4,4_QN 01,84829,51070,191105
43,Queens,QN 02,4,4_QN 02,40630,25664,113200
44,Queens,QN 03,4,4_QN 03,89233,51623,171576
45,Queens,QN 04,4,4_QN 04,94662,55403,172598
46,Queens,QN 05,4,4_QN 05,67198,39597,169190
47,Queens,QN 06,4,4_QN 06,38277,26966,113257
48,Queens,QN 07,4,4_QN 07,99864,66112,247354
49,Queens,QN 08,4,4_QN 08,66624,40700,151107
50,Queens,QN 09,4,4_QN 09,79941,46646,143317
51,Queens,QN 10,4,4_QN 10,59971,36451,122396
52,Queens,QN 11,4,4_QN 11,25649,17425,116431
53,Queens,QN 12,4,4_QN 12,165065,101027,225919
54,Queens,QN 13,4,4_QN 13,73013,47278,188593
55,Queens,QN 14,4,4_QN 14,111505,60480,114978
56,Staten Island,SI 01,5,5_SI 01,140571,74898,175756
57,Staten Island,SI 02,5,5_SI 02,54697,32601,132003
58,Staten Island,SI 03,5,5_SI 03,38519,24653,160209

In [36]:
# benefi_by_Boro_Community_per_1000
group2019['yearly_ind_benefi_per_1000']=(group2019['BC_SNAP_Recipients']/group2019['total_pop'])*1000
group2019['yearly_household_benefi_per_1000']=(group2019['BC_SNAP_Households']/group2019['total_pop'])*1000

In [37]:
group2019

,Boro,CD,Borough_ID,index,BC_SNAP_Recipients,BC_SNAP_Households,total_pop,yearly_ind_benefi_per_1000,yearly_household_benefi_per_1000
0,Bronx,BX 01,2,2_BX 01,169162,91364,91497,1848.825645,998.546400
1,Bronx,BX 02,2,2_BX 02,82825,45534,52246,1585.288826,871.530835
2,Bronx,BX 03,2,2_BX 03,158966,86488,79762,1993.004187,1084.325869
3,Bronx,BX 04,2,2_BX 04,211942,117646,146441,1447.285938,803.367909
4,Bronx,BX 05,2,2_BX 05,205934,112569,128200,1606.349454,878.073323
5,Bronx,BX 06,2,2_BX 06,148748,80523,83268,1786.376519,967.034155
6,Bronx,BX 07,2,2_BX 07,172237,98522,139286,1236.570797,707.335985
7,Bronx,BX 08,2,2_BX 08,61402,36905,101731,603.572166,362.770444
8,Bronx,BX 09,2,2_BX 09,198497,109490,172298,1152.056321,635.468781
9,Bronx,BX 10,2,2_BX 10,67807,41607,120392,563.218486,345.596053
10,Bronx,BX 11,2,2_BX 11,90218,52843,113232,796.753568,466.679031
11,Bronx,BX 12,2,2_BX 12,141983,77918,152344,931.989445,511.460904
12,Brooklyn,BK 01,3,3_BK 01,198928,78801,173083,1149.321424,455.278681
13,Brooklyn,BK 02,3,3_BK 02,51146,34533,99617,513.426423,346.657699
14,Brooklyn,BK 03,3,3_BK 03,168037,90541,152985,1098.388731,591.829264
15,Brooklyn,BK 04,3,3_BK 04,90897,55668,112634,807.012092,494.237974
16,Brooklyn,BK 05,3,3_BK 05,240537,137418,182896,1315.157248,751.345027
17,Brooklyn,BK 06,3,3_BK 06,39105,26106,104709,373.463599,249.319543
18,Brooklyn,BK 07,3,3_BK 07,80083,47405,126230,634.421294,375.544641
19,Brooklyn,BK 08,3,3_BK 08,76485,49415,96317,794.096577,513.045464
20,Brooklyn,BK 09,3,3_BK 09,77845,47630,98429,790.874641,483.902102
21,Brooklyn,BK 10,3,3_BK 10,64473,38206,124491,517.892860,306.897687
22,Brooklyn,BK 11,3,3_BK 11,134857,80453,181981,741.049890,442.095603
23,Brooklyn,BK 12,3,3_BK 12,233823,76001,191382,1221.760667,397.116761
24,Brooklyn,BK 13,3,3_BK 13,122299,81762,104278,1172.816893,784.077178
25,Brooklyn,BK 14,3,3_BK 14,115530,68392,160664,719.078325,425.683414
26,Brooklyn,BK 15,3,3_BK 15,105948,66378,159650,663.626683,415.772001
27,Brooklyn,BK 16,3,3_BK 16,142179,79895,86468,1644.296156,923.983439
28,Brooklyn,BK 17,3,3_BK 17,114015,72854,155252,734.386675,469.262876
29,Brooklyn,BK 18,3,3_BK 18,107299,64799,193543,554.393597,334.804152
30,Manhattan,MN 01,1,1_MN 01,8721,7065,60978,143.018794,115.861458
31,Manhattan,MN 02,1,1_MN 02,11020,8949,90016,122.422680,99.415659
32,Manhattan,MN 03,1,1_MN 03,141354,96903,163277,865.731242,593.488366
33,Manhattan,MN 04,1,1_MN 04,45639,34243,103245,442.045620,331.667393
34,Manhattan,MN 05,1,1_MN 05,22154,15140,51673,428.734542,292.996342
35,Manhattan,MN 06,1,1_MN 06,19925,17237,142745,139.584574,120.753792
36,Manhattan,MN 07,1,1_MN 07,62641,47100,209084,299.597291,225.268313
37,Manhattan,MN 08,1,1_MN 08,21141,16876,219920,96.130411,76.736995
38,Manhattan,MN 09,1,1_MN 09,83311,54882,110193,756.046210,498.053415
39,Manhattan,MN 10,1,1_MN 10,122232,78473,115723,1056.246381,678.110661
40,Manhattan,MN 11,1,1_MN 11,160840,101231,120511,1334.649949,840.014604
41,Manhattan,MN 12,1,1_MN 12,172262,118344,190020,906.546679,622.797600
42,Queens,QN 01,4,4_QN 01,84829,51070,191105,443.886868,267.235290
43,Queens,QN 02,4,4_QN 02,40630,25664,113200,358.922261,226.713781
44,Queens,QN 03,4,4_QN 03,89233,51623,171576,520.078566,300.875414
45,Queens,QN 04,4,4_QN 04,94662,55403,172598,548.453632,320.994450
46,Queens,QN 05,4,4_QN 05,67198,39597,169190,397.174774,234.038655
47,Queens,QN 06,4,4_QN 06,38277,26966,113257,337.965865,238.095659
48,Queens,QN 07,4,4_QN 07,99864,66112,247354,403.729068,267.276858
49,Queens,QN 08,4,4_QN 08,66624,40700,151107,440.906113,269.345563
50,Queens,QN 09,4,4_QN 09,79941,46646,143317,557.791469,325.474298
51,Queens,QN 10,4,4_QN 10,59971,36451,122396,489.975163,297.812020
52,Queens,QN 11,4,4_QN 11,25649,17425,116431,220.293564,149.659455
53,Queens,QN 12,4,4_QN 12,165065,101027,225919,730.637972,447.182397
54,Queens,QN 13,4,4_QN 13,73013,47278,188593,387.145864,250.687989
55,Queens,QN 14,4,4_QN 14,111505,60480,114978,969.794222,526.013672
56,Staten Island,SI 01,5,5_SI 01,140571,74898,175756,799.807688,426.147614
57,Staten Island,SI 02,5,5_SI 02,54697,32601,132003,414.361795,246.971660
58,Staten Island,SI 03,5,5_SI 03,38519,24653,160209,240.429689,153.880244

In [38]:
group2020 = data2020[['Boro', 'CD', 'Borough_ID', 'index', 'BC_SNAP_Recipients', 'BC_SNAP_Households']] \
                .groupby(by=['Boro', 'CD', 'Borough_ID', 'index'], as_index=False).sum()

In [39]:
group2020['total_pop'] = communitypop['2010 Population'].values

In [40]:
group2020

,Boro,CD,Borough_ID,index,BC_SNAP_Recipients,BC_SNAP_Households,total_pop
0,Bronx,BX 01,2,2_BX 01,134394,73308,91497
1,Bronx,BX 02,2,2_BX 02,65849,36575,52246
2,Bronx,BX 03,2,2_BX 03,127653,70233,79762
3,Bronx,BX 04,2,2_BX 04,164763,92475,146441
4,Bronx,BX 05,2,2_BX 05,161304,89080,128200
5,Bronx,BX 06,2,2_BX 06,117260,64187,83268
6,Bronx,BX 07,2,2_BX 07,137183,79007,139286
7,Bronx,BX 08,2,2_BX 08,51105,30667,101731
8,Bronx,BX 09,2,2_BX 09,159601,88372,172298
9,Bronx,BX 10,2,2_BX 10,56213,34297,120392
10,Bronx,BX 11,2,2_BX 11,73241,42899,113232
11,Bronx,BX 12,2,2_BX 12,114549,63184,152344
12,Brooklyn,BK 01,3,3_BK 01,154466,62687,173083
13,Brooklyn,BK 02,3,3_BK 02,41371,28146,99617
14,Brooklyn,BK 03,3,3_BK 03,132850,73216,152985
15,Brooklyn,BK 04,3,3_BK 04,72428,45606,112634
16,Brooklyn,BK 05,3,3_BK 05,192360,111452,182896
17,Brooklyn,BK 06,3,3_BK 06,32382,21465,104709
18,Brooklyn,BK 07,3,3_BK 07,61812,37363,126230
19,Brooklyn,BK 08,3,3_BK 08,60503,39941,96317
20,Brooklyn,BK 09,3,3_BK 09,62473,38662,98429
21,Brooklyn,BK 10,3,3_BK 10,52199,31144,124491
22,Brooklyn,BK 11,3,3_BK 11,104408,62713,181981
23,Brooklyn,BK 12,3,3_BK 12,181175,59476,191382
24,Brooklyn,BK 13,3,3_BK 13,94649,63473,104278
25,Brooklyn,BK 14,3,3_BK 14,90663,54420,160664
26,Brooklyn,BK 15,3,3_BK 15,82526,51893,159650
27,Brooklyn,BK 16,3,3_BK 16,114267,65078,86468
28,Brooklyn,BK 17,3,3_BK 17,92193,59450,155252
29,Brooklyn,BK 18,3,3_BK 18,88250,53537,193543
30,Manhattan,MN 01,1,1_MN 01,6757,5401,60978
31,Manhattan,MN 02,1,1_MN 02,8534,6946,90016
32,Manhattan,MN 03,1,1_MN 03,109791,75490,163277
33,Manhattan,MN 04,1,1_MN 04,36988,27768,103245
34,Manhattan,MN 05,1,1_MN 05,17916,12345,51673
35,Manhattan,MN 06,1,1_MN 06,15773,13565,142745
36,Manhattan,MN 07,1,1_MN 07,49665,36902,209084
37,Manhattan,MN 08,1,1_MN 08,16985,13359,219920
38,Manhattan,MN 09,1,1_MN 09,66048,43556,110193
39,Manhattan,MN 10,1,1_MN 10,92748,60074,115723
40,Manhattan,MN 11,1,1_MN 11,125874,79247,120511
41,Manhattan,MN 12,1,1_MN 12,134235,92672,190020
42,Queens,QN 01,4,4_QN 01,69359,41962,191105
43,Queens,QN 02,4,4_QN 02,32510,20523,113200
44,Queens,QN 03,4,4_QN 03,70711,40880,171576
45,Queens,QN 04,4,4_QN 04,75313,43971,172598
46,Queens,QN 05,4,4_QN 05,55683,32793,169190
47,Queens,QN 06,4,4_QN 06,30465,21286,113257
48,Queens,QN 07,4,4_QN 07,80465,52955,247354
49,Queens,QN 08,4,4_QN 08,53738,32476,151107
50,Queens,QN 09,4,4_QN 09,65529,38097,143317
51,Queens,QN 10,4,4_QN 10,48869,29462,122396
52,Queens,QN 11,4,4_QN 11,21429,14312,116431
53,Queens,QN 12,4,4_QN 12,133547,81045,225919
54,Queens,QN 13,4,4_QN 13,60879,38986,188593
55,Queens,QN 14,4,4_QN 14,88055,48042,114978
56,Staten Island,SI 01,5,5_SI 01,112080,59616,175756
57,Staten Island,SI 02,5,5_SI 02,44892,26332,132003
58,Staten Island,SI 03,5,5_SI 03,31895,20073,160209

In [41]:
# benefi_by_Boro_Community_per_1000
group2020['yearly_ind_benefi_per_1000']=(group2020['BC_SNAP_Recipients']/group2020['total_pop'])*1000
group2020['yearly_household_benefi_per_1000']=(group2020['BC_SNAP_Households']/group2020['total_pop'])*1000

In [42]:
group2020

,Boro,CD,Borough_ID,index,BC_SNAP_Recipients,BC_SNAP_Households,total_pop,yearly_ind_benefi_per_1000,yearly_household_benefi_per_1000
0,Bronx,BX 01,2,2_BX 01,134394,73308,91497,1468.835044,801.206597
1,Bronx,BX 02,2,2_BX 02,65849,36575,52246,1260.364430,700.053593
2,Bronx,BX 03,2,2_BX 03,127653,70233,79762,1600.423761,880.532083
3,Bronx,BX 04,2,2_BX 04,164763,92475,146441,1125.115234,631.482986
4,Bronx,BX 05,2,2_BX 05,161304,89080,128200,1258.221529,694.851794
5,Bronx,BX 06,2,2_BX 06,117260,64187,83268,1408.224048,770.848345
6,Bronx,BX 07,2,2_BX 07,137183,79007,139286,984.901569,567.228580
7,Bronx,BX 08,2,2_BX 08,51105,30667,101731,502.354248,301.451868
8,Bronx,BX 09,2,2_BX 09,159601,88372,172298,926.307908,512.902065
9,Bronx,BX 10,2,2_BX 10,56213,34297,120392,466.916406,284.877733
10,Bronx,BX 11,2,2_BX 11,73241,42899,113232,646.822453,378.859333
11,Bronx,BX 12,2,2_BX 12,114549,63184,152344,751.910151,414.745576
12,Brooklyn,BK 01,3,3_BK 01,154466,62687,173083,892.438888,362.178839
13,Brooklyn,BK 02,3,3_BK 02,41371,28146,99617,415.300601,282.542136
14,Brooklyn,BK 03,3,3_BK 03,132850,73216,152985,868.385789,478.582868
15,Brooklyn,BK 04,3,3_BK 04,72428,45606,112634,643.038514,404.904381
16,Brooklyn,BK 05,3,3_BK 05,192360,111452,182896,1051.745254,609.373633
17,Brooklyn,BK 06,3,3_BK 06,32382,21465,104709,309.257084,204.996705
18,Brooklyn,BK 07,3,3_BK 07,61812,37363,126230,489.677573,295.991444
19,Brooklyn,BK 08,3,3_BK 08,60503,39941,96317,628.165329,414.682766
20,Brooklyn,BK 09,3,3_BK 09,62473,38662,98429,634.701155,392.790743
21,Brooklyn,BK 10,3,3_BK 10,52199,31144,124491,419.299387,250.170695
22,Brooklyn,BK 11,3,3_BK 11,104408,62713,181981,573.730225,344.612899
23,Brooklyn,BK 12,3,3_BK 12,181175,59476,191382,946.666876,310.771128
24,Brooklyn,BK 13,3,3_BK 13,94649,63473,104278,907.660293,608.690232
25,Brooklyn,BK 14,3,3_BK 14,90663,54420,160664,564.301897,338.719315
26,Brooklyn,BK 15,3,3_BK 15,82526,51893,159650,516.918259,325.042280
27,Brooklyn,BK 16,3,3_BK 16,114267,65078,86468,1321.494657,752.625249
28,Brooklyn,BK 17,3,3_BK 17,92193,59450,155252,593.828099,382.925824
29,Brooklyn,BK 18,3,3_BK 18,88250,53537,193543,455.971025,276.615532
30,Manhattan,MN 01,1,1_MN 01,6757,5401,60978,110.810456,88.572928
31,Manhattan,MN 02,1,1_MN 02,8534,6946,90016,94.805368,77.164060
32,Manhattan,MN 03,1,1_MN 03,109791,75490,163277,672.421713,462.343135
33,Manhattan,MN 04,1,1_MN 04,36988,27768,103245,358.254637,268.952492
34,Manhattan,MN 05,1,1_MN 05,17916,12345,51673,346.718789,238.906199
35,Manhattan,MN 06,1,1_MN 06,15773,13565,142745,110.497741,95.029598
36,Manhattan,MN 07,1,1_MN 07,49665,36902,209084,237.536110,176.493658
37,Manhattan,MN 08,1,1_MN 08,16985,13359,219920,77.232630,60.744816
38,Manhattan,MN 09,1,1_MN 09,66048,43556,110193,599.384716,395.270117
39,Manhattan,MN 10,1,1_MN 10,92748,60074,115723,801.465569,519.118931
40,Manhattan,MN 11,1,1_MN 11,125874,79247,120511,1044.502162,657.591423
41,Manhattan,MN 12,1,1_MN 12,134235,92672,190020,706.425639,487.696032
42,Queens,QN 01,4,4_QN 01,69359,41962,191105,362.936606,219.575626
43,Queens,QN 02,4,4_QN 02,32510,20523,113200,287.190813,181.298587
44,Queens,QN 03,4,4_QN 03,70711,40880,171576,412.126405,238.261762
45,Queens,QN 04,4,4_QN 04,75313,43971,172598,436.349205,254.759615
46,Queens,QN 05,4,4_QN 05,55683,32793,169190,329.115196,193.823512
47,Queens,QN 06,4,4_QN 06,30465,21286,113257,268.989996,187.944233
48,Queens,QN 07,4,4_QN 07,80465,52955,247354,325.303007,214.085885
49,Queens,QN 08,4,4_QN 08,53738,32476,151107,355.628793,214.920553
50,Queens,QN 09,4,4_QN 09,65529,38097,143317,457.231173,265.823315
51,Queens,QN 10,4,4_QN 10,48869,29462,122396,399.269584,240.710481
52,Queens,QN 11,4,4_QN 11,21429,14312,116431,184.048922,122.922589
53,Queens,QN 12,4,4_QN 12,133547,81045,225919,591.127794,358.734768
54,Queens,QN 13,4,4_QN 13,60879,38986,188593,322.806255,206.720292
55,Queens,QN 14,4,4_QN 14,88055,48042,114978,765.842161,417.836456
56,Staten Island,SI 01,5,5_SI 01,112080,59616,175756,637.702269,339.197524
57,Staten Island,SI 02,5,5_SI 02,44892,26332,132003,340.083180,199.480315
58,Staten Island,SI 03,5,5_SI 03,31895,20073,160209,199.083697,125.292587

In [43]:
# df2018 =
group2018[['index', 'yearly_ind_benefi_per_1000', 'yearly_household_benefi_per_1000']].set_index(['index'])

         yearly_ind_benefi_per_1000  yearly_household_benefi_per_1000
index
2_BX 01                  975.070221                        516.814759
2_BX 02                  852.275772                        459.614133
2_BX 03                 1039.141446                        554.060831
2_BX 04                  786.692251                        427.680772
2_BX 05                  873.814353                        469.820593
2_BX 06                  935.833694                        496.685401
2_BX 07                  666.211967                        369.943857
2_BX 08                  320.207213                        190.443424
2_BX 09                  612.659462                        331.948136
2_BX 10                  291.115689                        175.933617
2_BX 11                  419.996114                        242.078211
2_BX 12                  486.537048                        264.467258
3_BK 01                  596.973706                        233.778014
3_BK 02                  269.994077                        179.447283
3_BK 03                  581.900186                        309.951956
3_BK 04                  446.916562                        266.447076
3_BK 05                  685.613682                        382.643688
3_BK 06                  188.379222                        123.036224
3_BK 07                  354.369009                        203.248039
3_BK 08                  431.450315                        271.198231
3_BK 09                  422.365360                        251.876987
3_BK 10                  272.887197                        156.268325
3_BK 11                  402.871728                        233.277100
3_BK 12                  643.587171                        209.977950
3_BK 13                  618.826598                        403.709315
3_BK 14                  397.170492                        228.240303
3_BK 15                  353.604760                        215.546508
3_BK 16                  844.670861                        465.004395
3_BK 17                  391.466777                        242.167573
3_BK 18                  286.943987                        170.292906
1_MN 01                   71.107613                         56.446587
1_MN 02                   67.843494                         53.479381
1_MN 03                  453.315531                        304.764296
1_MN 04                  224.640418                        168.734563
1_MN 05                  192.421574                        137.092872
1_MN 06                   69.298399                         59.644821
1_MN 07                  155.755581                        116.804729
1_MN 08                   50.545653                         40.078210
1_MN 09                  407.294474                        263.918761
1_MN 10                  580.429128                        364.292319
1_MN 11                  704.972990                        435.470621
1_MN 12                  498.521208                        335.138406
4_QN 01                  234.028414                        139.017817
4_QN 02                  190.203180                        118.242049
4_QN 03                  295.938826                        168.158717
4_QN 04                  305.826255                        175.262749
4_QN 05                  216.673562                        124.747325
4_QN 06                  177.419497                        122.447178
4_QN 07                  209.683288                        136.876703
4_QN 08                  231.670273                        137.988313
4_QN 09                  307.716461                        173.950055
4_QN 10                  260.506879                        154.237067
4_QN 11                  109.936357                         74.249985
4_QN 12                  389.241277                        231.861862
4_QN 13                  201.221678                        127.719481
4_QN 14                  502.261302                        269.495034
5_SI 01                  423.911559                        222.865791
5_SI 02                  211.457315                        125.383514
5_SI 03                  122.677253                         77.785892

In [44]:
df2018 = group2018[['index', 'yearly_ind_benefi_per_1000', 'yearly_household_benefi_per_1000']].set_index(['index'])
df2019 = group2019[['index', 'yearly_ind_benefi_per_1000', 'yearly_household_benefi_per_1000']].set_index(['index'])
df2020 = group2020[['index', 'yearly_ind_benefi_per_1000', 'yearly_household_benefi_per_1000']].set_index(['index'])

In [45]:
df2018.head()

         yearly_ind_benefi_per_1000  yearly_household_benefi_per_1000
index
2_BX 01                  975.070221                        516.814759
2_BX 02                  852.275772                        459.614133
2_BX 03                 1039.141446                        554.060831
2_BX 04                  786.692251                        427.680772
2_BX 05                  873.814353                        469.820593

In [46]:
df2019.head()

         yearly_ind_benefi_per_1000  yearly_household_benefi_per_1000
index
2_BX 01                 1848.825645                        998.546400
2_BX 02                 1585.288826                        871.530835
2_BX 03                 1993.004187                       1084.325869
2_BX 04                 1447.285938                        803.367909
2_BX 05                 1606.349454                        878.073323

In [47]:
df2020.head()

         yearly_ind_benefi_per_1000  yearly_household_benefi_per_1000
index
2_BX 01                 1468.835044                        801.206597
2_BX 02                 1260.364430                        700.053593
2_BX 03                 1600.423761                        880.532083
2_BX 04                 1125.115234                        631.482986
2_BX 05                 1258.221529                        694.851794

In [48]:
df2018.to_csv('SNAP_2018.csv')
df2019.to_csv('SNAP_2019.csv')
df2020.to_csv('SNAP_2020.csv')

In [49]:
testdf=pd.read_csv('SNAP_2018.csv')
testdf

      index  yearly_ind_benefi_per_1000  yearly_household_benefi_per_1000
0   2_BX 01                  975.070221                        516.814759
1   2_BX 02                  852.275772                        459.614133
2   2_BX 03                 1039.141446                        554.060831
3   2_BX 04                  786.692251                        427.680772
4   2_BX 05                  873.814353                        469.820593
5   2_BX 06                  935.833694                        496.685401
6   2_BX 07                  666.211967                        369.943857
7   2_BX 08                  320.207213                        190.443424
8   2_BX 09                  612.659462                        331.948136
9   2_BX 10                  291.115689                        175.933617
10  2_BX 11                  419.996114                        242.078211
11  2_BX 12                  486.537048                        264.467258
12  3_BK 01                  596.973706                        233.778014
13  3_BK 02                  269.994077                        179.447283
14  3_BK 03                  581.900186                        309.951956
15  3_BK 04                  446.916562                        266.447076
16  3_BK 05                  685.613682                        382.643688
17  3_BK 06                  188.379222                        123.036224
18  3_BK 07                  354.369009                        203.248039
19  3_BK 08                  431.450315                        271.198231
20  3_BK 09                  422.365360                        251.876987
21  3_BK 10                  272.887197                        156.268325
22  3_BK 11                  402.871728                        233.277100
23  3_BK 12                  643.587171                        209.977950
24  3_BK 13                  618.826598                        403.709315
25  3_BK 14                  397.170492                        228.240303
26  3_BK 15                  353.604760                        215.546508
27  3_BK 16                  844.670861                        465.004395
28  3_BK 17                  391.466777                        242.167573
29  3_BK 18                  286.943987                        170.292906
30  1_MN 01                   71.107613                         56.446587
31  1_MN 02                   67.843494                         53.479381
32  1_MN 03                  453.315531                        304.764296
33  1_MN 04                  224.640418                        168.734563
34  1_MN 05                  192.421574                        137.092872
35  1_MN 06                   69.298399                         59.644821
36  1_MN 07                  155.755581                        116.804729
37  1_MN 08                   50.545653                         40.078210
38  1_MN 09                  407.294474                        263.918761
39  1_MN 10                  580.429128                        364.292319
40  1_MN 11                  704.972990                        435.470621
41  1_MN 12                  498.521208                        335.138406
42  4_QN 01                  234.028414                        139.017817
43  4_QN 02                  190.203180                        118.242049
44  4_QN 03                  295.938826                        168.158717
45  4_QN 04                  305.826255                        175.262749
46  4_QN 05                  216.673562                        124.747325
47  4_QN 06                  177.419497                        122.447178
48  4_QN 07                  209.683288                        136.876703
49  4_QN 08                  231.670273                        137.988313
50  4_QN 09                  307.716461                        173.950055
51  4_QN 10                  260.506879                        154.237067
52  4_QN 11                  109.936357                         74.249985
53  4_QN 12                  389.241277                        231.861862
54  4_QN 13                  201.221678                        127.719481
55  4_QN 14                  502.261302                        269.495034
56  5_SI 01                  423.911559                        222.865791
57  5_SI 02                  211.457315                        125.383514
58  5_SI 03                  122.677253                         77.785892